
<div *ngIf="loader" class="pageLoader">
  <div class="custom-loader"></div>
</div>
<h2 class="dialog-header">
    <div class="headerElements">
      <div class="icon-header">
        <mat-icon (click)="redirectTermList()">chevron_left</mat-icon>
        <div >
          <span class="title">{{(menuDetails?.name | titlecase) ?? '-' }}</span>
          <span [ngClass]="{
            'greenChip': menuDetails?.status === 'Active',
            'redChip':menuDetails?.status === 'inactive',
            'yellowChip': menuDetails?.status === 'draft'
          }">{{ (menuDetails?.status | titlecase) ?? '-' }}</span>
        </div>
      </div>
      <!-- <div>
        <span><button  mat-button class="active" *ngIf="menuDetails?.status !== menuStatus.ACTIVE">
          {{ 'DEVICES.ACTIVE_DEVICE' | translate }}
        </button></span>
        <span><button  mat-button class="deactive" *ngIf="menuDetails?.status !== menuStatus.DEACTIVATE" >
            {{ 'DEVICES.DISABLE_DEVICE' | translate }}
          </button></span>
      </div> -->
    </div>
  </h2>
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Details">
      <div class="scrollTable">
        <app-menu-view [menuId]="menuId" (detailsById)="menuDetails = $event"></app-menu-view>
      </div>
    </mat-tab>
    </mat-tab-group>