<div *ngIf="loader" class="pageLoader">
  <div class="custom-loader"></div>
</div>

<h2 class="dialog-header">
  <div class="headerElements">
    <div class="icon-header">
      <mat-icon (click)="redirectTermList()">chevron_left</mat-icon>
      <div *ngIf="deviceDetails">
        <span class="title">{{
          deviceDetails.name | titlecase }}</span>
        <span [ngClass]="{
          'greenChip': deviceDetails.status === 'active',
          'redChip':deviceDetails.status === 'inactive',
          'yellowChip': deviceDetails.status === 'pending'
        }">{{ deviceDetails.status | titlecase }}</span>
      </div>
    </div>
    <!-- <button class="editFrequency" mat-button (click)="editFrequency()">
    {{ 'CLASSES.EDIT_FREQUENCY' | translate }}
  </button> -->
    <div>
      <span><button  mat-button class="active" *ngIf="deviceDetails && deviceDetails?.status !== deviceStatus.ACTIVATE" (click)="activateDevice()">
        <!-- {{ 'DEVICES.ACTIVE_DEVICE' | translate }} -->
          Activate
      </button></span>
      <span><button  mat-button class="deactive" *ngIf="deviceDetails && deviceDetails?.status !== deviceStatus.INACTTIVE" (click)="deactivateDevice()">
          <!-- {{ 'DEVICES.DISABLE_DEVICE' | translate }} -->
            Deactivate
        </button></span>
    </div>
  </div>
</h2>

    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectionTabChange" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Details">
        <div class="scrollTable">
           <app-basic-details *ngIf="deviceId" [deviceId]="deviceId" (Details)="deviceDetails = $event"></app-basic-details>
        </div>
      </mat-tab>
      <mat-tab label="Menu Items">
        <section class="customView"  *ngIf="selectionTabChange === 1">
          <div class="actionsWrap">
            <button mat-button color="primary" [disabled]="!seletedItems?.length" (click)="unassignItems()">
              <!-- {{'DEVICES.UNASSIGN_ITEM'| translate}}  -->
               Unassign item
            </button> 
            <button mat-raised-button color="primary" (click)="assignItem()">
              <!-- {{'DEVICES.ASSIGN_ITEM'| translate}}  -->
               Assign Item
            </button>
          </div>
          <app-menu-list-common *ngIf="menuItems" [menuDetails]="menuItems" [displayedColumns]="displayedColumns" (selectedIdsChange)="getSelection($event)"></app-menu-list-common>
       
      </section>
      </mat-tab>
    </mat-tab-group>
