$md-orangePrimary: (
  50: #fff4e0,
  100: #ffe4b3,
  200: #ffd280,
  300: #ffc04d,
  400: #ffb326,
  500: #ffa500,
  600: #ff9d00,
  700: #ff9300,
  800: #ff8a00,
  900: #ff7900,
  A100: #ffffff,
  A200: #fff8f2,
  A400: #ffdabf,
  A700: #ffcba6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-yellowPrimary: (
  50: #fff0e5,
  100: #ffd9be,
  200: #ffbf93,
  300: #ffa568,
  400: #ff9247,
  500: #ff7f27,
  600: #ff7723,
  700: #ff6c1d,
  800: #ff6217,
  900: #ff4f0e,
  A100: #ffffff,
  A200: #fff8f6,
  A400: #ffd1c3,
  A700: #ffbeaa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warmBlue: (
  50: #e7ebfb,
  100: #c4ccf5,
  200: #9dabee,
  300: #7689e7,
  400: #586fe1,
  500: #3b56dc,
  600: #354fd8,
  700: #2d45d3,
  800: #263cce,
  900: #192bc5,
  A100: #f8f9ff,
  A200: #c5caff,
  A400: #929cff,
  A700: #7985ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #e7e7ea,
  100: #c4c3ca,
  200: #9c9ba7,
  300: #747284,
  400: #575469,
  500: #39364f,
  600: #333048,
  700: #2c293f,
  800: #242236,
  900: #171626,
  A100: #766aff,
  A200: #4737ff,
  A400: #1804ff,
  A700: #1200ea,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-warn: (
  50: #fde0e0,
  100: #fab3b3,
  200: #f78080,
  300: #f44d4d,
  400: #f12626,
  500: #ef0000,
  600: #ed0000,
  700: #eb0000,
  800: #e80000,
  900: #e40000,
  A100: #ffffff,
  A200: #ffd8d8,
  A400: #ffa5a5,
  A700: #ff8b8b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
